---
import Layout from "@/layouts/Layout.astro";

import ENTranslations from "../../i18n/en.json";

import type { Translation } from "../../interfaces/translation";

const translation: Translation = ENTranslations;
import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Presentation from "@/components/Presentation.astro";
import TitleSection from "@/components/TitleSection.astro";
import Technologies from "@/components/Technologies.astro";
import Gamepad from "@/components/icons/Gamepad.astro";
import Snake from "@/components/Snake.astro";
const language = "en";
---

<Layout
  translation={translation}
  lang={language}
  title={translation.seo.title}
  description={translation.seo.description}
>
  <main class="px-4">
    <SectionContainer class="py-20 md:py-36">
      <Presentation lang={language} textItems={translation.presentation} />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experience">
        <TitleSection>
          <Briefcase class="size-8" />
          {translation.sectionTitles.professionalExperience}
        </TitleSection>
        <Experience experienceItems={translation.experienceItems} />
      </SectionContainer>
      <SectionContainer id="about">
        <TitleSection>
          <ProfileCheck class="size-8" />
          {translation.sectionTitles.aboutMe}
        </TitleSection>
        <AboutMe description={translation.textAboutMe} />
      </SectionContainer>
            <SectionContainer id="technologies">
        <TitleSection>
          <CodeIcon class="size-7" />
          {translation.sectionTitles.technologies}
        </TitleSection>
        <Technologies technologyItems={translation.technologyItems} />
      </SectionContainer>
      <SectionContainer id="game-time" class="pb-10">
        <TitleSection>
          <Gamepad class="size-7" />
          {translation.sectionTitles.gameTime}
        </TitleSection>
        <Snake lang={language} textItems={translation.snakeGameSection} />
      </SectionContainer>
    </div>
  </main>
</Layout>
