---
const personalImageAlt = "Santiago Murillo";
const linkedInUrl = "https://linkedin.com/in/santiago-murillo";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import SocialPill from "@/components/SocialPill.astro";
import Download from "./icons/Download.astro";
import { Image } from "astro:assets";
import avatarImage from "../assets/avatar.png";
import type { Presentation } from "@/interfaces/translation";

interface Props {
  lang: string;
  textItems: Presentation;
}

const { lang, textItems } = Astro.props;
---

<div class="max-w-2xl">
  <div class="flex gap-4 mb-4 items-center">
    <div class="w-24 h-24 flex items-center justify-center">
      <Image class="w-full h-auto" src={avatarImage} alt={personalImageAlt} />
    </div>
    <h1 class="text-4xl font-bold tracking-tight text-black dark:text-white">
      {textItems.greeting}
    </h1>
  </div>
  <div
  class="[&>p]:mt-6 [&>p]:text-xl [&>p]:text-gray-800 dark:[&>p]:text-gray-300   [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-green-400 [&>p>strong]:font-semibold text-pretty"
  set:html={textItems.subtitle}
/>
  <nav class="flex flex-wrap gap-4 mt-8 justify-center md:justify-start">
    <SocialPill href={linkedInUrl}>
      <LinkedInIcon class="size-4" />
      {textItems.linkedIn}
    </SocialPill>
    <SocialPill
      href=`/cv-smp-${lang}.pdf`
      download=`CV - Santiago Murillo (${lang.toLocaleUpperCase()}).pdf`
    >
      <Download class="size-4" />
      {textItems.cvDownload}
    </SocialPill>
  </nav>
</div>
